.button-wrapper {
  padding: 6px;
}
.my-button {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #3FC8CF;
  color: #fff;
  border:none;
}

.my-button:hover, .my-button:focus, .mybutton:active {
  background: #38A9AF;
  color: #fff;
  border: none;
}
