.babystep-wrapper {
  padding: 20px 80px;
}
.progress {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.progress-text {
  display: block;
  padding: 20px 0;
  font-size: 24px;
  line-height: 32px;
  color: #FF5B05;
}
.progress-text.completion {
  color: #3fc8cf;
}

/* 重写antd样式 */
.ant-progress-status-success .ant-progress-bg {
  background-color: #3fc8cf;
}
