.new-order {
  position:absolute;
  z-index: 10;
  top: 0;
  width: 100vw;
  margin-top: 88px;
  padding-bottom: 40px;
  background-color: #fff;
}

.new-order > .new-order-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #3FC8CF;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  font-size: 24px;
}

.vip-wrapper {
  padding: 20px;
}
.vip-title {
  line-height: 48px;
  font-size: 34px;
  color: #000;
}
.vip-text {
  line-height: 40px;
  font-size: 28px;
  color: #888;
}
