.bar-top-wrapper {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 11;
}
.bar-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 59px;
  height: 44px;
  font-size: 16px;
  color: #3fc8cf;
}
.bar-top-text {
  flex: 1;
  line-height: 44px;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
.bar-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 59px;
  height: 44px;
}
