.baby-box {
  display: flex;
  position: relative;
  padding: 30px 0;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}

.baby-pic {
  margin: 0 40px;
  width: 154px;
  height: 182px;
  background-color: #ccc;
}
.baby-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0 20px 0 0 ;
}
.baby-info > .name {
  margin: 0 0;
  font-size: 36px;
  line-height: 50px;
  color: #333;
}
.baby-info > .weight, .baby-info > .height {
  margin: 0 0;
  line-height: 40px;
  font-size: 28px;
  color: #888;
}
.baby-info > .completion-rate {
  margin: 0 0;
  line-height: 34px;
  font-size: 24px;
  color: #3fc8cf;
}
.baby-info > .completion-rate.warning {
  color: #FF5B05;
}
.more-info {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 50%;
  margin-top: -38px;
  font-size: 24px;
}
