/* 重写antd样式 */
.ant-input-group-wrapper {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
.ant-input-group-addon {
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: #fff;
}
.my-input {
  border-radius: 0;
  border: none;
  padding-left: 20px;
  height: 44px;
}
.my-input:hover, .my-input:focus {
  border:none;
}
