/* 重写antd样式 */
.ant-input-group-wrapper {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
.ant-input-group-addon {
  border-radius: 0;
  font-size: 28px;
  font-weight: 600;
  border: none;
  background-color: #fff;
}
.my-input {
  border-radius: 0;
  border: none;
  font-size: 24px;
  padding-left: 40px;
  height: 88px;
  padding: 8px 14px;
}
.my-input:hover, .my-input:focus {
  border:none;
}
.ant-input-group-addon {
  padding: 8px 14px;
}
