.my-select-wrapper {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}
.my-select-wrapper .select {
  flex: 1;
}
.my-select-wrapper .text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  padding: 20px 14px;
  height: 88px;
}

/* 重写antd样式 */
.ant-select-selection {
  height: 88px;
  padding-left: 40px;
  border: none;
  border-radius: 0;
  font-size: 24px;
}
.ant-select-selection:hover, .ant-select-selection:focus {
  border: none;
}
.ant-select-selection__rendered {
  height: 88px;
  line-height: 88px;
}
.my-select-wrapper .ant-select-arrow {
  font-size: 24px;
}
.ant-select-dropdown .ant-select-dropdown-menu-item {
  padding: 14px 16px;
  font-size: 24px;
}
