.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.footer {
  flex:0 0 auto;
  height: 50px;
  padding: 0;
}
.stage {
  flex: 1;
  overflow: auto;
  height: calc(100vh - 50px);
  background-color: #f5f5f9;
  padding: 0 0 16px;
}
