.order-address-wrapper .item {
  color: #3fc8cf;
}
.order-address {
  padding: 20px;
}
.order-address .name {
  font-size: 34px;
  line-height: 48px;
  color: #000;
}
.order-address .phone,
.order-address .position,
.order-address .addr {
  font-size: 28px;
  line-height: 40px;
  color: #888;
}
.order-address-action {
  display: flex;
  padding: 0 0 40px
}
